@font-face {
    font-family: lotaGrotesqueLight;
    src: url('Lota-Grotesque-Alt-3-Regular.woff') format('woff');
}

@font-face {
    font-family: lotaGrotesqueBold;
    src: url('Lota-Grotesque-Alt-3-Semi-Bold.woff') format('woff');
}

/* Variables */

:root{

    /* font size */
    --type-body-regular: 20px;
    --type-body-medium: 16px;
    --type-body-small: 12px;

    /* font color */
    --link-main-color: rgb(0, 2, 255);

}

/* Main styles */

*{
    font-family: 'lotaGrotesqueLight';
    box-sizing: border-box;
}

html,
body{
    width: 100%;
    height:100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    cursor: grab;
}


h6, h1, p, li, ul{
    padding: 0;
    margin: 0;
}

p{
    font-size: var(--type-body-regular);
}

a{
    color: var(--link-main-color);
    text-decoration: underline;
    cursor: pointer;
}

li{
    list-style: none;
    font-size: 14px;
}

span{
    font-size: var(--type-body-regular);
    color: var(--link-main-color);
    cursor: pointer;
    text-decoration: underline;
}

sup{
    font-size: var(--type-body-small);
    color: var(--type-main-color);
}


/* Utility */
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* Header */

header{
    width: 20%;
    margin: 15px 0 0 28px;
}

/* Archives */

#archives{
    margin-right: 28px;
    position: absolute;
    top: 20px;
    right: 5px;
    text-decoration: none;
}

#container-list{
    position: absolute;
    top: 60px;
    right: 5px;
    margin-right: 30px;
    display: none;
    text-align: right;
}

#container-list div{
    margin-bottom: 20px;
}

.archive-list-grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
}

.projects-hover{
    color: #000000;
    display: block;
    text-decoration: none;
}

.projects-hover:hover {
    color: var(--link-main-color);
}

.videos-hover{
    color: #000000;
    display: block;
    text-decoration: none;
}

.videos-hover:hover{
    color: var(--link-main-color);
}


#logo-name{
    color: black;
    text-decoration: none;
}

/* About Plagktos */

section{
    position: absolute;
    left: 28px;
    top: 150px;
    width: 422px;
    /* cursor: -webkit-grab; cursor: grab; */
    /* width: 370px; */
}

.about-plagktos{
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    text-align: left; 
}

.chroniques-content {
    height: 510px;
    padding-right: 20px;
}

/* Firefox */
.scroller{
    overflow-y: scroll;
    scrollbar-color: var(--link-main-color)  	#ffffff;
    scrollbar-width: thin;
}

/* Scroll Bar for chrome */

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background: var(--link-main-color);
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background:  	#ffffff;
}


.chroniques-content p{
    margin-bottom: 10px;
}

.chroniques-hover {
    color: #000000;
    display: block;
    text-decoration: none;
}

.chroniques-hover:hover{
    color: var(--link-main-color);
}

/* Random words project */

#first-word{
    font-size: 0;
    text-decoration: none;
}
#first-word span{
    font-size: var(--type-body-regular);
}
#second-word{
    font-size: 0;
    text-decoration: none;
}
#second-word span{
    font-size: var(--type-body-regular);
}
#third-word{
    font-size: 0;
    text-decoration: none;
}
#third-word span{
    font-size: var(--type-body-regular);
}

/* Random places containers */

#ici-container-one{
    text-decoration: none;
    font-size: 0;
}
#ici-container-one span{
    font-size: var(--type-body-regular);
}

#ici-container-two{
    font-size: 0;
    text-decoration: none;
}
#ici-container-two span{
    font-size: var(--type-body-regular);
}

#ici-et-la{
    display: none;
}

/* Random videos projects containers */

#vproject-one {
    font-size: 0;
    text-decoration: none;
}
#vproject-one span {
    font-size: 20px;
}
#vproject-two {
    font-size: 0;
    text-decoration: none;
}
#vproject-two span {
    font-size: 20px;
}

/* Projects Content */

.main-container {
    display: none;
    width: 1000px;
    height: fit-content;
    cursor: grabbing;
    cursor: -moz-grabbing;
    position: absolute; 
    z-index: 3;
}

.title-project{
    text-decoration: underline;
    font-size: 20px;
    font-weight: lighter;
    margin-bottom:10px;
}

.main-container img {
    width: 700px;
}

.chroniques-container img{
    width: 590px;
}

.main-container img:hover{
    border-style: solid;
    border-width: 5px;
    border-color: var(--link-main-color);
}
.main-container #boat-image:hover {
    border-style: none;
    border-width: 0px;
    border-color: none;
}

.project-content{
    margin-left: 25px;
    text-align: justify;
}

.project-content p{
    font-size: 14px;
}

.copyrightphoto{
    margin-top: 20px;
}

/* Work places */

.place-container{
    display: inline;
    text-decoration: none;
    color: #000000;
}
.place-container span{
    display: inline;
}

#et{
    color: #000000;
    text-decoration: none;
}

.place{
    display: none;
    position: absolute;
}

.place img{
    width: 10px;
    display: block;
}

.place a{
    padding-left: 10px;
    text-decoration: none;
}

/* Floatting Screen */

#ecran-flottant{
    position: fixed;
    margin: 80px auto 0 auto;
    left: 0;
    right: 0;
    top: 10px;
}

/* Videos */

video{
    width: 700px;
}

video:hover{
    border-style: solid;
    border-width: 5px;
    border-color: var(--link-main-color);
}

.copyright-video{
    font-size: var(--type-body-small);
}

/* Contact */
#contact-container{
    padding-bottom: 20px;
}

.link-contact{
    display: inline-block;
    visibility: hidden;
    font-size: var(--type-body-regular);
    /* font-size: 16px; */
}

.link-contact a{
    background-color: #ffffff;
    padding: 2px;
}

.lc-french{
    position: absolute;
    margin-top: -26px;
    left: 144px;
}

.lc-english{
    position: absolute;
    margin-top: -26px;
    left: 87px;
}

#contact-container:hover a{
    visibility: visible;
}

#ou-sur{
    text-decoration: none;
    color: #000000;
}

#mail-contact{
    display: none;
    background-color: #ffffff;
    font-size: var(--type-body-regular);
}

.cela{
    position: absolute;
    left: 220px;
    margin-top: -26px;
}

.this{
    position: absolute;
    left: 135px;
    margin-top: -26px;
}

/* Copyright Container */

#copyright{
    text-decoration: none;
}


#copyright-text{
    visibility: hidden;
    width: 300px;
    margin-top: -30px;
    left: 0px;
    color: black;
    font-size: 14px;
    text-align: left;
    position: absolute;
    z-index: 1;
    text-decoration: none;
}

.copy-container:hover #copyright-text{
    visibility: visible;
    background-color: #ffffff;
}


/* Footer */

.language{
    margin-left: 28px;
    position: absolute;
    bottom: 20px;
    left: 5px;
}

.language a{
    font-family: 'lotaGrotesqueBold';
    color: #000000;
    text-decoration: none;
}

#french{
    text-decoration: underline;
}

#english{
    text-decoration: underline;
}

#netherland{
    display: none;
}

.ld-container{
    margin-right: 28px;
    display: inline-block;
    position: absolute;
    bottom: 20px;
    right: 5px;
}

#sun{
    width: 25px;
    cursor: pointer;
}

#moon{
    width: 16px;
    cursor: pointer;
}

#go-back-link{
    font-family: "lotaGrotesqueBold";
    display: none;
    padding-top: 20px;
    /* margin-right: 28px; */
    /* position: fixed;
    top: 30px;
    right: -11px; */ 

    /* font-size: 15px;
    position: fixed;
    bottom: 29px;
    z-index: 1;
    right: 5px; */


}

/* Responsive Style */

@media screen and (max-width: 800px) {

    body{
        background-image: url('./assets/brand/bleu_2.jpg');
        width: 100%;
        margin: 0 auto;
        padding: 5px;
        overflow: scroll;
        cursor: grab;
        font-size: var(--type-body-medium);

        color: #ffffff;

    }

    span{
        color: #ffffff;
    }

    a{
        color: #ffffff;
    }

    li {
        color: #ffffff;
    }

    h1{
        color: #ffffff;
        letter-spacing: 0.5px;
        padding-top: 10px;
    }

    p{
        font-size: var(--type-body-medium);
    }

    section{
        /* position: relative;
        top: 20px;
        width: 300px;
        padding-top: 5%;
        line-height: 130%; */

        width: 330px;
        position: fixed;
        left: 28px;
        top: 80px;
        right: 10px;
        /* margin: 80px 0px 0px 28px ; */
    }

    header{
        width: 80%;
        display: flex;
        justify-content: space-between;
        margin: 0px;
    }

    h1{
        padding-left: 22px; 
    }

    .about-plagktos{
        width: 95%;
    }

    .place-container{
        display: none;
    }

    #container-la{
        display: none;
    }

    #ici-et-la{
        display: inline;
    }

    .about-plagktos span{
        font-size: var(--type-body-medium);
    }

    #first-word span{
        font-size: var(--type-body-medium);
    }

    #second-word span{
        font-size: var(--type-body-medium);
    }

    #third-word span{
        font-size: var(--type-body-medium);
    }

    #vproject-one span{
        font-size: var(--type-body-medium);
    }

    #vproject-two span{
        font-size: var(--type-body-medium);
    }

    #vproject-third span{
        font-size: var(--type-body-medium);
    }


    #archives{
        display: none;
    }

    .copy-container{
        display: none;
    }

    .main-container{
        width: 80%;
        margin-left: 28px;
        margin-top: 60px;
        /* margin: 25px auto 20px auto; */
        position: relative;
    } 

    .main-container img{
        width: 100%;
        margin: 5px auto 5px auto;
    }

    .grid{
        display: block;
    }

    .project-content{
        width: 100%;
        margin: 0px;
    }

    /* Mail */

    #mail-contact{
        background-image: url('./assets/brand/bleu_2.jpg');
        font-size: var(--type-body-medium);
    }

    #contact-container{
        padding-bottom: 0px;
    } 

    .cela{
        position: relative;
        left: 0;
        margin-top: 0;
    }

    .this{
        position: relative;
        left: 0;
        margin-top: 0;
    } 


     /* Social Media */

    .link-contact{
        /* display: inline-block; */
        font-size: var(--type-body-regular);
    }

    .link-contact a{
        background-image: url('./assets/brand/bleu_2.jpg');
        color: #ffffff;
        font-size: var(--type-body-medium);
        padding: 0;
    }

    .lc-french{
        position: relative;
        margin-top: 0;
        left: 0;
        text-decoration: none;
    }

    .lc-english{
        position: relative;
        margin-top: 0;
        left: 0;
        text-decoration: none;
    }


    #ou-sur{
        text-decoration: none;
        color: #ffffff;
    }

    /* Scroll */

    ::-webkit-scrollbar {
        width: 0px;
    }
    
    ::-webkit-scrollbar-thumb {
        background: var(--link-main-color);
    }
    
    ::-webkit-scrollbar-track {
        background:  	#ffffff;
    }

    .scroller{
        overflow-y: hidden;
    }

    /* Language */

    .ld-container{
        display: none;
    }

    .language{
        font-size: 14px;
        position: fixed;
        left: 0px;
        bottom: 25px;
        z-index: 1;
    } 

    .language a{
        color: #ffffff;
    }

    /* Chroniques */

    .chroniques-content {
        width: 100%;
        padding-right: 0px;
        height: auto;
    }

    /* Videos */

    video{
        width: 100%;
        
    } 

    .video-container{
        width: 100%;
        height: fit-content;
        margin:0;
        margin-top:20px;
    } 

    /* Floating screen */

    #ecran-flottant{
        position: relative;
        margin: 80px auto 0 auto;
    }

    .place{
        position: relative;
        width: 47%;
        padding-bottom: 40px;
    }

    .place a{
        color: #ffffff;
        font-size: 15px;
    }


}

/* Smaller screen */

@media screen and (max-width: 340px) {

    section{
        width: 90%;
        /* osition: relative;
        left: 0;
        top: 0;
        margin: 50px auto 5px auto; */
    } 

    .language{
        bottom: 18px;
    }

} 


